*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

ul, li{
    list-style: none;
}

img{
    max-width: 100%;
}


/*  UTILITY  */

.debug-1{
    background-color:rgba(255, 0, 0, .25);
    border: 1px solid red;
}

.debug-2{
    background-color:rgba(0, 255, 0, .25);
    border: 1px solid greenyellow;
}

.debug-3{
    background-color:rgba(0, 0, 255, .25);
    border: 1px solid aqua;
}


/*  COMPONENTS  */

.main-container{
    width: 85%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 40px;
}

.d-flex{
    display: flex;
}

.f-center{
    align-items: center;
}
.f-wrap{
    flex-wrap: wrap;
}

.card{
    border-radius: 20px;
    padding: 20px 15px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.card.white{
    background-color: #fff;
}

.sec-colored{
    background-color: #9792E4;
    color: #fff;
}

/*  BUTTON  */

.btn{
    border: none;
    padding: 10px 45px;
    text-decoration: none;
    display: inline-block;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 50px;
}

.btn.btn-violet{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9792E4;
    text-align: center;
    width: 15px;
    height: 15px;
    padding: 20px;
    margin: 0;
    line-height: 15px;
}

/*  HEADER  */

header{
    background-color: #0084FD;
    height: 75px;
    width: 100%;
}

/*  /HEADER  */


/*  NAVBAR  */
nav{
    justify-content: space-between;
}

nav i{
    color: #fff;
    font-size: 1.75rem;
}
/*  /NAVBAR  */


/*  MAIN  */

section .row{
    flex-direction: column;
}

section .row .card{
    background-color: #B5DDFF;
    width: 100%;
}

section .row .card h3{
    font-weight: 900;
    text-transform: none;
}

section .card h3,
section .card p,
section .card img{
    margin-bottom: 2rem;
}

section .row .card.a-left{
    text-align: left;
    padding-left: 20px;
    padding-bottom: 0;
}

section .row .card.a-left h3{
    text-align: left;
}

section .row .card .btn{
    background-color: #0084FD;
    margin-bottom: 2rem;
}

section .row .card .btn i,
section .row .card .btn span{
    color: #fff;
}

section .row .card .btn i{
    font-size: 1rem;
    margin: 0;
}

section .row .card i,
section .row .card h3{
    color: #0084FD;
}

section .row .card i{
    font-size: 4rem;
    margin-bottom: 1.5rem;
}

section .row .card p{
    color: #5A6E7F;
    font-weight: 600;
}

section .row .card.a-left img{
    margin-bottom: -4px;
}

section.sec-colored .main-container h2,
section.sec-colored .main-container p{
    margin-bottom: 2rem;
}

section.sec-colored .main-container .card.white{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

section.sec-colored .main-container .card.white h3,
section.sec-colored .main-container .card.white p,
section.sec-colored .main-container .card.white i{
    color: #000;
}

section.sec-colored .main-container .card.white p{
    font-style: italic;
    font-weight: 300;
}

section.sec-colored .main-container img,
section.sec-colored .main-container h2{
    margin-bottom: 2rem;
}

section.main-container h3{
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;

}

section.main-container h2{
    font-size: 2rem;
    color: #9792E4;
    text-align: center;
    margin-bottom: 2rem;
}

section.main-container p{
    color: #5A6E7F;
    margin-bottom: 2rem;
    line-height: 1.5rem;
}

section.main-container .card.sec-colored{
    flex-direction: column;
    text-align: center;
}


section.main-container .card.sec-colored img{
    clip-path: circle();
    width: 250px;
}

section.main-container .card.sec-colored .card-text{
text-align: center;
}

section.main-container .card.sec-colored .card-text p{
    color: #fff;
}

section.main-container .card.sec-colored .card-text h3{
    margin: 0;
    font-weight: 600;
}

section.main-container .card.sec-colored .card-text p::after{
    content: '\f10e';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 2rem;
    margin-left: 5px;
}
section.main-container .card.sec-colored .card-text p::before{
    content: '\f10d';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 2rem;
    margin-right: 5px;
    text-transform: ;
}

section.sec-colored .main-container{
    flex-direction: column;
}

section.sec-colored .main-container .card.white h2,
section.sec-colored .main-container .card.white h3{
    color: #9792E4;
    align-items: flex-start;
}

section.sec-colored .main-container .card.white h2{
    font-size: 4rem;
}
section.sec-colored .main-container .card.white h3{
    font-size: 1.5rem;
}

section.sec-colored .main-container .card.white{
    padding: 20px;
    text-align: left;
}

.btn-more{
    width: 140px;
    border: none;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 50px;
    background-color: #9792E4;
    color: #FFFFFF;
}
/*  /MAIN  */


/*  FOOTER  */

/*  /FOOTER  */





@media (min-width: 768px){

    section .row{
        flex-direction: row;
    }

    section .row .card{
        width: 30%;
        margin-right: 20px;
    }

    section .row .card.card.a-left{
        width: 62%;
    }

    section .row .card.card.a-left img{
        width: 40%;
    }


    section.sec-colored .main-container h2,
    section.main-container h2{
        font-size: 3rem;
    }

    section.main-container .card.sec-colored .card-text h3,
    
    section.main-container .card.sec-colored .card-text p{
        text-align: left;
    }

    section.main-container .card.sec-colored{
    flex-direction: row;
    align-items: center;     
    }

    section.main-container .card.sec-colored img{
        margin: 0;
    }

    section.sec-colored .main-container{
        flex-direction: row;
    }

    section.sec-colored .main-container .card.white.card-sm{
        width: calc(100% / 2 - 40px);
        margin-right: 20px;
    }
}






@media (min-width: 1200px){

    .main-container{
        width: 80%;
        max-width: 1150px;
        margin: 0 auto;
    }

    section .row .card.card.a-left{
        display: flex;
    }

    section .row .card.card.a-left .col{
        width: 60%;
    }

    section .row .card.card.a-left img{
        margin-bottom: 0px;
    }

    section.sec-colored .main-container{
        display: flex;
        justify-content: space-between;
    }

    section.sec-colored .col{
        padding: 40px;
        width: 50%;
    }

    section.sec-colored .col h2{
        font-size: 2rem;
    }

    section.sec-colored .card.white.card-sm{
        margin: 0 60px;
        margin-top: 100px;
        width: 50%;
    }

    section.sec-colored .main-container .card.white.card-sm{
        width: 25%;
    }
}