*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

ul, li{
    list-style: none;
}

img{
    max-width: 100%;
}


/*  UTILITY  */

.debug-1{
    background-color:rgba(255, 0, 0, .25);
    border: 1px solid red;
}

.debug-2{
    background-color:rgba(0, 255, 0, .25);
    border: 1px solid greenyellow;
}

.debug-3{
    background-color:rgba(0, 0, 255, .25);
    border: 1px solid aqua;
}


/*  COMPONENTS  */

.main-container{
    width: 85%;
    margin: 0 auto;
}

.d-flex{
    display: flex;
}

.f-center{
    align-items: center;
}
.f-wrap{
    flex-wrap: wrap;
}

.card{
    border-radius: 20px;
    padding: 20px 15px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
}


/*  BUTTON  */

.btn{
    border: none;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 50px;
}

/*  HEADER  */

header{
    background-color: #0084FD;
    height: 75px;
    width: 100%;
}

/*  /HEADER  */


/*  NAVBAR  */
nav{
    justify-content: space-between;
}

nav i{
    color: #fff;
    font-size: 1.75rem;
}
/*  /NAVBAR  */


/*  MAIN  */

section .row{
    padding-top: 20px;
    padding-bottom: 40px;
    margin: 0 auto;
}

section .row .card{
    background-color: #B5DDFF;
    width: 100%;
}

section .row .card.a-left{
    text-align: left;
    padding-left: 20px;
    padding-bottom: 0;
}

section .row .card .btn{
    background-color: #0084FD;
    margin-bottom: 2rem;
}

section .row .card .btn i,
section .row .card .btn span{
    color: #fff;
}

section .row .card .btn i{
    font-size: 1rem;
    margin: 0;
}

section .row .card i,
section .row .card h3{
    color: #0084FD;
    margin-bottom: 20px;
}

section .row .card i{
    font-size: 4rem;
}

section .row .card p{
    color: #5A6E7F;
    font-weight: 600;
    margin-bottom: 2rem;
}

section .row .card.a-left img{
    margin-bottom: -4px;
}

/*  /MAIN  */


/*  FOOTER  */

/*  /FOOTER  */